In [3]:
import pandas as pd

In [4]:
# Load the CSV file into a DataFrame
df = pd.read_csv("Angles_pos1.csv")
df

,LSA,RSA,LEA,REA,LHA,RHA,LKA,RKA
0,175.074890,167.027267,13.502854,17.942461,48.107761,46.215584,0.363156,4.984877
1,152.078491,154.767181,31.266169,27.570135,50.981068,48.597260,6.932171,13.964452
2,157.936523,159.663162,16.416765,54.925259,2.109885,5.660362,7.216592,5.641078
3,135.558960,143.644577,54.920948,56.039352,58.040958,56.800194,0.293420,5.018016
4,175.714203,173.263977,25.716963,12.247510,40.284832,35.148659,7.830853,10.302460
5,167.551559,177.602890,13.613582,5.051599,14.779287,27.030079,4.547216,7.362740
6,177.900986,176.196289,29.156458,37.923103,33.849697,35.010731,25.926392,32.259796
7,153.477859,147.362473,53.421581,44.362610,47.484917,47.901428,10.163801,11.048920
8,116.302734,96.480476,20.383938,0.176939,19.798868,20.680683,19.573128,15.758430

In [16]:
# Calculate mean and standard deviation for each column
mean_values = df.mean()
std_dev_values = df.std()
columns = pd.MultiIndex.from_tuples([(col, stat) for col in df.columns for stat in ['Mean', 'Std Dev']])

# Add suffixes to column names to distinguish repeated names
mean_columns = [col + '_mean' for col in df.columns]
std_dev_columns = [col + '_std_dev' for col in df.columns]

# Concatenate mean and standard deviation values into a single DataFrame with distinguished column names
summary_df = pd.concat([mean_values, std_dev_values], axis=0)
summary_df.index = mean_columns + std_dev_columns

# Transpose the DataFrame to have one row
summary_df = summary_df.to_frame().T
summary_df

,LSA_mean,RSA_mean,LEA_mean,REA_mean,LHA_mean,RHA_mean,LKA_mean,RKA_mean,LSA_std_dev,RSA_std_dev,LEA_std_dev,REA_std_dev,LHA_std_dev,RHA_std_dev,LKA_std_dev,RKA_std_dev
0,156.844023,155.112033,28.711029,28.470996,35.048586,35.893887,9.205192,11.815641,20.549879,25.179108,15.78359,20.992894,18.923892,16.103485,8.502349,8.601051

In [18]:
#Saving to CSV
summary_df.to_csv('Mean_var.csv', index=False)